.red {
    background-color: red;
}

.green {
    background-color: green;
}


.green, .red {
    position: absolute;
   width: 50vh;
   height: 50vh;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   display: flex;
   align-items: center;
   justify-content: center;
}

